NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=https://www.peptidesfarma.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_SQUARE_APP_ID=
NEXT_PUBLIC_SQUARE_LOCATION_ID=
SHIPPO_API_KEY=
ZIPTAX_API_KEY=
RESEND_API_KEY=
MEDUSA_ADMIN_EMAIL=
MEDUSA_ADMIN_PASSWORD=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_PAYMENT_DOMAIN=
